volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: s418963/kittygram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/app/static
      - media:/app/media

  frontend:
    image: s418963/kittygram_frontend
    env_file: .env
    depends_on:
      - backend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  gateway:
    image: s418963/kittygram_gateway
    env_file: .env
    depends_on:
      - frontend
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/media
      ## 